<div class="continer__big-card">
    <div class="big-card__photo">
        <img 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Queen_promo_1970s.jpg/800px-Queen_promo_1970s.jpg" 
        alt=""
        height="300px"
        srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias vel deserunt quisquam aliquid sunt voluptate perferendis qui soluta consequatur quod ducimus, laboriosam officia eius fugit doloribus. Consequatur laborum totam eaque.</a></p>
    </div>
</div>
