.container__small-card{
    /* border: 1px solid white; */
    width: 500px;
    margin-bottom: 15px;
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card__photo > img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.small-card__title {
    display: flex;
}
.container__small-card__separator{
    margin-top: 10px;
}
